body{
    background-color:rgb(250, 250, 233);
    color: rgb(83, 1, 1);
    font-family:'Courier New', Courier, monospace;
}
#imageone{
    width: 200px;
    padding: 15px;
    margin: 15px;
}
#first{
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#third{
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#imagetwo{
    width: 200px;
    padding: 15px;
    margin: 15px;
}
h1{
    text-align: center;
    font-size: 2em;
}
#ton{
    width: 75px;
    height: 65px;
}
#hidden{
    display: none;
}
#four{
    width: 200px;
    padding: 15px;
    margin: 15px;
}